.barra.logo {
  background-image: url(../img/pattern.png);
  background-size:contain;
  width: auto;
  height: 120px;
  background-color:royalblue;
  /* background-repeat: repeat; */
}

.logo-boolean {
width: 20%;
height: auto;
position: relative;
/* bottom: 100%; */
}