.conteiner {
  width: 100%;
  margin: auto;
}

.barra.logo {
  background-image: url(../img/pattern.png);
  background: size 400px;;
  width: auto;
  height: 120px;
  background-color:royalblue;
  /* background-repeat: repeat; */
  overflow:hidden;
}

.logo-boolean {
width: 20%;
height: auto;

}

.nota, .sottotesto {
  color:slategrey
}

.nota {
  font-size: 11px;}

  .evidenziatura {
    background-color: yellow;
  }

